# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of http

# Created by https://www.toptal.com/developers/gitignore/api/cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=cmake

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/cmake

# Created by https://www.toptal.com/developers/gitignore/api/obsidian
# Edit at https://www.toptal.com/developers/gitignore?templates=obsidian

### Obsidian ###
# config dir
.obsidian/

# End of https://www.toptal.com/developers/gitignore/api/obsidian

# Diretórios de compilação gerados pelo CMake
/build/
/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/CMakeScripts/

# Arquivos gerados pelo CMake
/CMakeLists.txt.user
/*.cmake.user
/*.cmake.user.in

# Arquivos do Visual Studio Code (se você estiver usando o VSCode como IDE)
/.vscode/

# Diretório de instalação (se você usar `make install` com CMake)
/install/

# Fim de linha
.idea/
*.suo
*.user
*.sln.docstates
*.suo
*.user
*.os
*.userosscache
*.suo
*.user
*.os
*.userosscache
